<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>sample.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>sample.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListCityController</servlet-name>
        <servlet-class>sample.controllers.GetListCityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListWayController</servlet-name>
        <servlet-class>sample.controllers.GetListWayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListTypeController</servlet-name>
        <servlet-class>sample.controllers.GetListTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListHouseController</servlet-name>
        <servlet-class>sample.controllers.GetListHouseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCityNameController</servlet-name>
        <servlet-class>sample.controllers.GetCityNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTypeNameController</servlet-name>
        <servlet-class>sample.controllers.GetTypeNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetWayNameController</servlet-name>
        <servlet-class>sample.controllers.GetWayNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDetailHouseController</servlet-name>
        <servlet-class>sample.controllers.GetDetailHouseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>sample.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPropertyController</servlet-name>
        <servlet-class>sample.controllers.ViewPropertyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>sample.controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductInCartController</servlet-name>
        <servlet-class>sample.controllers.DeleteProductInCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayController</servlet-name>
        <servlet-class>sample.controllers.PayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>sample.controllers.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBillUser</servlet-name>
        <servlet-class>sample.controllers.ViewBillUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBillUserController</servlet-name>
        <servlet-class>sample.controllers.ViewBillUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailBillController</servlet-name>
        <servlet-class>sample.controllers.ViewDetailBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>sample.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHouseController</servlet-name>
        <servlet-class>sample.controllers.DeleteHouseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHouseController</servlet-name>
        <servlet-class>sample.controllers.UpdateHouseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertHouseController</servlet-name>
        <servlet-class>sample.controllers.InsertHouseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListUserController</servlet-name>
        <servlet-class>sample.controllers.GetListUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserController</servlet-name>
        <servlet-class>sample.controllers.SearchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserByAdminController</servlet-name>
        <servlet-class>sample.controllers.UpdateUserByAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserByAdminController</servlet-name>
        <servlet-class>sample.controllers.DeleteUserByAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserByAdminController</servlet-name>
        <servlet-class>sample.controllers.CreateUserByAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>sample.controllers.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListBillController</servlet-name>
        <servlet-class>sample.controllers.GetListBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailBillByAdminController</servlet-name>
        <servlet-class>sample.controllers.ViewDetailBillByAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyController</servlet-name>
        <servlet-class>sample.controllers.VerifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendCodeToVerifyController</servlet-name>
        <servlet-class>sample.controllers.SendCodeToVerifyController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListCityController</servlet-name>
        <url-pattern>/GetListCityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListWayController</servlet-name>
        <url-pattern>/GetListWayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListTypeController</servlet-name>
        <url-pattern>/GetListTypeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListHouseController</servlet-name>
        <url-pattern>/GetListHouseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCityNameController</servlet-name>
        <url-pattern>/GetCityNameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTypeNameController</servlet-name>
        <url-pattern>/GetTypeNameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetWayNameController</servlet-name>
        <url-pattern>/GetWayNameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDetailHouseController</servlet-name>
        <url-pattern>/GetDetailHouseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPropertyController</servlet-name>
        <url-pattern>/ViewPropertyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductInCartController</servlet-name>
        <url-pattern>/DeleteProductInCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayController</servlet-name>
        <url-pattern>/PayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBillUser</servlet-name>
        <url-pattern>/ViewBillUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBillUserController</servlet-name>
        <url-pattern>/ViewBillUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailBillController</servlet-name>
        <url-pattern>/ViewDetailBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHouseController</servlet-name>
        <url-pattern>/DeleteHouseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateHouseController</servlet-name>
        <url-pattern>/UpdateHouseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertHouseController</servlet-name>
        <url-pattern>/InsertHouseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListUserController</servlet-name>
        <url-pattern>/GetListUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserController</servlet-name>
        <url-pattern>/SearchUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserByAdminController</servlet-name>
        <url-pattern>/UpdateUserByAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserByAdminController</servlet-name>
        <url-pattern>/DeleteUserByAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserByAdminController</servlet-name>
        <url-pattern>/CreateUserByAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/SignupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListBillController</servlet-name>
        <url-pattern>/GetListBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailBillByAdminController</servlet-name>
        <url-pattern>/ViewDetailBillByAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyController</servlet-name>
        <url-pattern>/VerifyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendCodeToVerifyController</servlet-name>
        <url-pattern>/SendCodeToVerifyController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
